@import '/src/animations';

.content {
  padding: 10px 15px;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(5, 5, 5, 0.85);
  color: white;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #7c7c7c;
  animation: $slideInUp;
}


:global {
  .react-tiny-popover-container {
    overflow: visible !important;
    z-index: 100;
  }
}

.slideInUp {
  animation: $slideInUp;
}

.flip {
  transform: scaleY(-1);
}

.dropIcon {
  height: 21px !important;
  margin-left: 10px;
  transition: .2s ease-out;
}

.quiet {
  pointer-events: none;
}
