@import '/src/shared/styles';

.schemaPage {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;

  .addBtn {
    bottom: 20px;
    left: 20px;
    position: fixed;
    z-index: 1;
    transition: 2s $ease;
  }
}

.itemWrapper {
  height: auto !important;
  text-align: left !important;
  border-radius: 15px !important;
  padding: 15px !important;
  border-color: $lightGray !important;
  margin-bottom: 18px;
}

.label {
  margin-bottom: 0.5em;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;
}
