@import '/src/colors';
@import '/src/animations';

.sideNav {
  height: calc(100% - 30px);
  width: 220px;
  transform: translateY(15px);
  transition: .3s;
  //will-change: width;
  border-right: 1px inset $lightGray;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //text-align: center;
}

.btn {
  position: absolute;
  bottom: 0;

  :global(.inner) {
    justify-content: flex-end;
    font-size: 15px;
    font-weight: 500;
    height: 46px;
    transform-origin: calc(100% - 30px) 50%;
  }
  &:hover {
    :global(.inner) {
      transform: scale(1.2);
    }
  }

  svg {
    //height: 17px;
    margin-right: 12px;
  }

  * {
    transition: .4s;
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
  width: 17px;
}

.flip {
  transform: scaleX(-1);
}

.logo {
  width: 96px;
  display: block;
  padding: 12px 45px 15px;
  margin: 0 auto;
  animation: $popIn;
}

.clientLogo {
  border-radius: 5px;
  height: 100px;
  width: calc(100% - 30px);
  margin: 0 auto 20px;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newCollectionInputWrap {
  margin: 0 8px;
}

