@import '/src/cms/colors';

.sideNav {
  height: calc(100% - 10px);
  transition: .3s;
  will-change: width;
  border-right: 1px inset $lightGray;
  flex-shrink: 0;
}

.btn {
  :global {
    .inner {
      justify-content: flex-end;
      font-size: 15px;
      font-weight: 500;
      height: 46px;
    }
  }
  
  svg {
    height: 17px;
    margin-right: 4px;
  }
  
  * {
    transition: .4s;
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
  width: 17px;
}

.flip {
  transform: scaleX(-1);
}

