@import '/src/shared/styles/colors';

.multiSelect {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;

  li {
    padding: 10px 10px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 3px;
    height: auto;

    :global {
      .inner {
        display: flex;
        position: relative;
        align-items: center;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.checkBox {
  border-radius: 4px;
  background: $lightGray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin-right: 14px;

  &.active {

  }
}

.checkIcon {
  height: 15px;
  width: 15px;
  opacity: 0;
  color: $black;
}

.exclamationIcon {
  height: 15px;
  width: 15px;
  opacity: 0;
  color: $red;
}
