@import "/src/animations";

.logInPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.dialog {
  :global {
    .dark-bg {
      background: linear-gradient(to right, #ffffff, #cacaca);
    }

    .dialog-box {
      max-width: 350px;
    }
  }
}

.dialog-mobile {
  :global {
    .dialog-box {
      margin-bottom: -100px;
    }
  }
}

.input {
  width: 300px;
}

.input-mobile {
  width: 100%;
}
