@import "/src/animations";

.logInPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.dialog {
  :global {
    .dark-bg {
      background: linear-gradient(to right, #ffffff, #cacaca);
    }

    .dialog-box {
      max-width: 350px;
    }
  }
}

.dialog-mobile {
  :global {
    .dialog-box {
      margin-bottom: -100px;
    }
  }
}

.input {
  width: 300px;
}

.input-mobile {
  width: 100%;
}

.signUp {
  position: absolute;
  top: calc(50% + 135px);
  z-index: 4;
  left: calc(50% - 175px);
  cursor: pointer;

  :global {
    .inner {
      width: 350px;
      justify-content: center;
    }
  }
}
