@import '/src/cms/colors';

@keyframes expand {
  0% {
    height: 0;
  }
  
  100% {
    height: calc(100% - 8px);
  }
}

.pageList {
  li {
    display: flex;
    align-items: center;
  }
}

.indicator {
  width: 4px;
  height: 0;
  background-color: $green;
  animation: expand .3s forwards;
  position: absolute;
  left: 8px;
  border-radius: 2px;
}

.navButton {
  text-transform: capitalize;
  
  :global {
    .inner {
      justify-content: initial;
      padding-left: 20px;
    }
  }
}

.divider {
  margin: 20px 5px;
  height: 3px;
  border-radius: 3px;
  opacity: 0.5;
  background: white;
  box-shadow: 0 1px 2px black;
}
