@import '/src/colors';

$toolbarHeight: 47px;

.toolbar {
  width: calc(100% - 20px);
  margin-left: 10px;
  height: $toolbarHeight;
  //background: white;
  //color: white;
  display: flex;
  align-items: center;
  //border-bottom: 1px solid $lightGray;
  font-size: 15px;
  flex-shrink: 0;
  z-index: 3;
  //justify-content: space-between;

  svg {
    height: 22px;
  }
}

.right {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  align-content: flex-end;
}
