@import '/src/styles';

.pdfUpload {
  width: 100%;
  position: relative;
}

.fileInput {
  display: none;
}

.button {
  height: 42px;
  margin-bottom: 10px;
}

.placeholder {
  color: $placeholderColor;
  font-style: italic;
  margin-top: 15px;
}

.removeRightBorder {
  border-radius: 3px 0 0 3px !important;
  border-right: none !important;
}

.hide {
display: none;
}

.pfdIcon {
  height: 55px !important;
  opacity: 0.5;
  margin: 0 0 15px;
}
