@import '/src/colors';
@import '../single-line/styles';

.textArea {
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid $black;
  padding: 0 0 5px 0;

  textarea {
    outline: none;
    resize: none;
    font-family: inherit !important;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    width: 100%;
  }
}

.multiLine {
  width: 100%;
  box-sizing: border-box;
}
