@import '/src/colors';

@keyframes expand {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.rightCol {
  height: 100%;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
  padding-right: 7px;

  li {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .clientId {
    font-size: 14px;
    margin-right: 20px;
  }
}

.btn {
  :global {
    .inner {
      border: none;
    }
  }
}

.indicator {
  height: 4px;
  width: calc(100% - 8px);
  background-color: $green;
  animation: expand .3s forwards;
  position: absolute;
  top: 2px;
  border-radius: 2px;
  left: 4px;
}
