.richContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  
  :global {
    .ql-editor {
      font-size: 15px;
      color: initial;
      height: auto;
    }
    
    .ql-container {
      //overflow: hidden;
      height: auto;
    }
  
    .ql-tooltip {
      z-index: 1;
    }
  }
}

.post {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
}
