@import '/src/colors';
@import '/src/animations';

.button {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  position: relative;
  animation: $undimm;

  &:hover {
    color: black;

    :global {
      .inner {
        transform: scale(1.1);
      }
    }
  }
}

.wavesLight {
  $waves-color: #81cd81;
  :global {
    .waves-ripple {
      background: rgba($waves-color, 0.4);
      background: -webkit-radial-gradient(rgba($waves-color, .2) 0, rgba($waves-color, .3) 40%, rgba($waves-color, .4) 50%, rgba($waves-color, .5) 60%, rgba($waves-color, 0) 70%);
      background: -o-radial-gradient(rgba($waves-color, .2) 0, rgba($waves-color, .3) 40%, rgba($waves-color, .4) 50%, rgba($waves-color, .5) 60%, rgba($waves-color, 0) 70%);
      background: -moz-radial-gradient(rgba($waves-color, .2) 0, rgba($waves-color, .3) 40%, rgba($waves-color, .4) 50%, rgba($waves-color, .5) 60%, rgba($waves-color, 0) 70%);
      background: radial-gradient(rgba($waves-color, .2) 0, rgba($waves-color, .3) 40%, rgba($waves-color, .4) 50%, rgba($waves-color, .5) 60%, rgba($waves-color, 0) 70%)
    }
  }
}

.wavesDark {
  $waves-dark: #143614;
  :global {
    .waves-ripple {
      background: rgba($waves-dark, 0.4);
      background: -webkit-radial-gradient(rgba($waves-dark, .2) 0, rgba($waves-dark, .3) 40%, rgba($waves-dark, .4) 50%, rgba($waves-dark, .5) 60%, rgba($waves-dark, 0) 70%);
      background: -o-radial-gradient(rgba($waves-dark, .2) 0, rgba($waves-dark, .3) 40%, rgba($waves-dark, .4) 50%, rgba($waves-dark, .5) 60%, rgba($waves-dark, 0) 70%);
      background: -moz-radial-gradient(rgba($waves-dark, .2) 0, rgba($waves-dark, .3) 40%, rgba($waves-dark, .4) 50%, rgba($waves-dark, .5) 60%, rgba($waves-dark, 0) 70%);
      background: radial-gradient(rgba($waves-dark, .2) 0, rgba($waves-dark, .3) 40%, rgba($waves-dark, .4) 50%, rgba($waves-dark, .5) 60%, rgba($waves-dark, 0) 70%)
    }
  }
}

.inner {
  font-size: 15px;
  padding: 11px;
  box-sizing: border-box;
  line-height: 15px;
  transition: .2s ease-out;
  border-radius: 2px;
  display: flex;
  align-items: center;
  will-change: transform;

  svg {
    height: 24px;
    margin-right: 10px;
    flex-shrink: 0;
  }
}

.justIcon {
  svg {
    margin-right: 0;
  }
}

.text-red {
  color: $red;
}

.text-yellow {
  color: $yellow;
}

.text-green {
  color: $green;
}

.text-active {
  color: $active;
}

.text-white {
  color: white;
}

.green {
  background: $green;
  color: white;
}

.black {
  background: $black;
  color: white;
}

.black-invert {
  color: $black;
  border: 1px solid $black;
}

.white {
  background: white;
  color: $black;
}

.red {
  background: #FF234E;
  color: white;
}

.yellow {
  background: #FFA700;
  color: white;
}

.hideChildren {
  * {
    opacity: 0;
  }
}

.activityIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
}

.disable {
  pointer-events: none;
  animation: $dimm;
}

.stretch {
  width: 100%;

  .inner {
    justify-content: center;
  }
}

.noAnimation {
  animation: none !important;
}

.noScale {
  &:hover {
    :global {
      .inner {
        transform: none;
      }
    }
  }
}
