@import '/src/shared/styles/classes';
@import '/src/shared/styles/media-query-mixins';
@import '/src/shared/styles/colors';

.home {
  @extend %pageContainer;
}

.listItemWrap {
  width: 100%;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.listContainer {
  width: 100%;
  height: calc(100% - 100px);
  padding: 0 20px 20px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}

.focus {
  z-index: 1;
}

.addBtn {
  bottom: 20px;
  left: 20px;
  position: fixed;
  z-index: 1;

  &.rotate {
    transform: rotate(90deg);
  }

  @include media('>phone') {
    bottom: calc(50% - 354px);
    left: calc(50% - 189px);
  }
}

.inputContainer {
  background: white;
  width: 100%;
  position: absolute;
  padding: 20px 20px 100px 20px;
  box-sizing: border-box;
  bottom: 0;
  z-index: 1;
  transform: translateY(100%);
  border-top: 1px solid $black;
  box-shadow: 0 -1px 20px rgba($black, 0.2);
}
