@import '/src/shared/styles';

.textArea {
  outline: none;
  padding: 11px;
  font-size: inherit !important;
  line-height: 43px;
  box-sizing: border-box;
  height: 43px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  font-family: inherit !important;
}

.dateTime input {
  width: calc(50% - 5px);
  margin-right: 10px;

  &:last-of-type {
    margin-right: 0;
  }
}

.dateTime {
  width: 100%;
}

//.withLabel {
//  display: flex;
//  align-items: center;
//}

//.withLabel-mobile {
//  flex-direction: column;
//  align-items: flex-start;
//}

.label {
  padding-bottom: 21px;
  font-weight: 400;
  height: 21px;
  //border-bottom: 2px solid $black;
  color: $black;
  font-size: 20px;
  line-height: 18px;
  text-transform: capitalize;
  display: inline-block;
  position: relative;

  & > * {
    text-decoration: underline;
  }
}

.field {
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.areaField {
  align-items: flex-start;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.stretch {
  width: 100%;
}

input,
textarea {
  font-weight: 300;
}

.asterisk {
  height: 9px;
  position: absolute;
  top: -2px;
  right: 2px;
  //color: $red;
  transform: translate(100%, 0);
}

.tip {
  transform: translateX(20px);
}
