$green: rgba(33, 68, 27, 0.91);
$active: #FF8100;
$yellow: #ffdd38;
$red: #FF0000;
$lightGray: #D1D1D1;
$white: #ffffff;
$black: #000000;
$gray: #C2C2C2;
$cyan: #86FFFF;
$neon-green: #3bff3e;
$neon-red: #ff5377;
$blue: #394DFF;
