$green: rgba(61, 151, 54, 0.91);
$active: #FF8100;
$yellow: #ffdd38;
$cyan: #86FFFF;
$neon-green: #3bff3e;
$neon-red: #ff5377;


$blue: #394DFF;
$red: #FF0000;
$white: #ffffff;
$black: #2D2D2D;
$lightGray  : #F3F3F3;
$gray: #C2C2C2;
