.home {
  width: 100%;
}

.switch {
  margin-bottom: 42px;
}

.listItemWrap {
  width: 100%;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.listContainer {
  width: 100%;
  height: calc(100% - 100px);
  padding: 0 20px 20px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}

.focus {
  z-index: 1;
}
