.dateTime input {
  outline: none;
  padding: 11px;
  font-size: inherit !important;
  line-height: 43px;
  box-sizing: border-box;
  height: 34px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ABABAB;
  font-family: inherit !important;
}
