@import '/src/styles';

.pdfUpload {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fileInput {
  display: none;
}

.button {
  height: 42px;
  margin-bottom: 10px;
}

.placeholder {
  color: $placeholderColor;
  font-style: italic;
  margin-top: 15px;
}

.removeRightBorder {
  border-radius: 3px 0 0 3px !important;
  border-right: none !important;
}

.hide {
display: none;
}

.icon {
  width: 90px;
  height: 77px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px 20px;
}
