@import '/src/shared/styles';

.navBar {
  background: $green;
  height: $nav-bar-height;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  color: white;
  position: relative;

  .navBarTitle {
    font-size: 31px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
}

.toTheLeft {
  position: absolute !important;
  left: 0;
}

.btn {
  border-radius: 0 !important;
  height: 100% !important;
  width: 60px !important;
  padding: 0 20px !important;
}

.btnWrap {
  height: 100%;
}
