@import '/src/animations';

.underConstruction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: $popIn;

  svg {
    height: 100px;
  }
}
