@import '/src/colors';
@import '/src/animations';

.button {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  position: relative;
  animation: $undimm;
  border-radius: 50px;
  height: 65px;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: normal;
  width: 100%;
  box-sizing: border-box;
  padding: 0 28px;
}

.black {
  background: $black;
  color: $white;
}

.circle {
  background: $black;
  color: $white;
  width: 65px;
  height: 65px;
  position: fixed;
  bottom: 20px;
  left: 20px;

  svg {
    height: 42px;
  }
}

.white {
  background: $white;
  color: $black;
  border: 1px solid $black;
}

.red {
  background: $white;
  color: $red;
  border: 1px solid $red;
}

.icon {
  width: 65px;
  height: 50px;
  color: white;

  svg {
    height: 32px;
  }
}

.wavesLight {
  $waves-color: #ffffff;
  :global {
    .waves-ripple {
      background: rgba($waves-color, 0.6);
      background: -webkit-radial-gradient(rgba($waves-color, .4) 0, rgba($waves-color, .4) 40%, rgba($waves-color, .5) 50%, rgba($waves-color, .6) 60%, rgba($waves-color, 0) 70%);
      background: -o-radial-gradient(rgba($waves-color, .4) 0, rgba($waves-color, .4) 40%, rgba($waves-color, .5) 50%, rgba($waves-color, .6) 60%, rgba($waves-color, 0) 70%);
      background: -moz-radial-gradient(rgba($waves-color, .4) 0, rgba($waves-color, .4) 40%, rgba($waves-color, .5) 50%, rgba($waves-color, .6) 60%, rgba($waves-color, 0) 70%);
      background: radial-gradient(rgba($waves-color, .4) 0, rgba($waves-color, .4) 40%, rgba($waves-color, .5) 50%, rgba($waves-color, .6) 60%, rgba($waves-color, 0) 70%)
    }
  }
}

.wavesDark {
  $waves-dark: #000000;
  :global {
    .waves-ripple {
      background: rgba($waves-dark, 0.4);
      background: -webkit-radial-gradient(rgba($waves-dark, .2) 0, rgba($waves-dark, .3) 40%, rgba($waves-dark, .4) 50%, rgba($waves-dark, .5) 60%, rgba($waves-dark, 0) 70%);
      background: -o-radial-gradient(rgba($waves-dark, .2) 0, rgba($waves-dark, .3) 40%, rgba($waves-dark, .4) 50%, rgba($waves-dark, .5) 60%, rgba($waves-dark, 0) 70%);
      background: -moz-radial-gradient(rgba($waves-dark, .2) 0, rgba($waves-dark, .3) 40%, rgba($waves-dark, .4) 50%, rgba($waves-dark, .5) 60%, rgba($waves-dark, 0) 70%);
      background: radial-gradient(rgba($waves-dark, .2) 0, rgba($waves-dark, .3) 40%, rgba($waves-dark, .4) 50%, rgba($waves-dark, .5) 60%, rgba($waves-dark, 0) 70%)
    }
  }
}

.inner {

}

.justIcon {
  svg {
    margin-right: 0;
  }
}

.disable {
  pointer-events: none;
  background: rgba($black, 0.2);
}
