@import '/src/styles';

.dropSection {
  border: 1px solid $black;
  cursor: pointer;
  box-sizing: border-box;
  height: 100px;
  background: $lightGray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  .icon {
    height: 40px;
    left: unset;
    transform: unset;
    margin-right: 15px;
  }
}

.canvas {
  width: calc(100% - 20%);
  height: 80px;
}
