@import '/src/shared/styles/index';

.main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: relative;
  background: $lightGray;
  overflow: hidden;

  @include media('>tablet') {
    width: 650px;
  }
}

.pageContainer {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  flex-shrink: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.navBar {
  height: $nav-bar-height-mobile;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  //color: white;
  position: absolute;
  z-index: 3;
  transform: translateX(100%);
  opacity: 0;
  transition: 1s $ease;
  @extend %boxShadow;

  &.show {
    transform: translateX(0);
    opacity: 1;
  }

  &.hideShadow {
    box-shadow: none;
  }

  .navBarInner {
    background: rgba($lightGray, 0.9);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 1;

    svg {
      color: $black;
      height: 32px;
      animation: $popIn;
      top: 2px;

      &.arrowLeft {
        height: 42px;
      }
    }

    section {
      display: flex;
      align-items: center;
      height: 100%;
    }

    .unlocked {
      padding: 0 !important;
      width: auto !important;
      transform: translateY(-1px);

      svg {
        height: 20px;
        color: $red;
      }
    }
  }

  .navBarTitle {
    font-size: 24px;
    line-height: 1.5em;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -1px);
    white-space: nowrap;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: flex;

    &.isReactorLogo {
      font-weight: 700;
      letter-spacing: 0.3em;
    }

    .pageType {
      font-size: 12px;
      text-transform: uppercase;
      margin-left: 10px;
      color: $red
    }
  }

  //.toTheLeft {
  //  float: left;
  //}
  //
  //.toTheRight {
  //  float: right;
  //}

  .btn {
    border-radius: 0 !important;
    height: 100% !important;
    width: 70px !important;
    padding: 0 20px !important;
  }
}

.secondaryNav {
  position: absolute;
  left: 0;
  background: rgba($lightGray, 0.9);
  backdrop-filter: blur(2px);
  transform: translateY(-100%);
  top: $nav-bar-height-mobile;
  width: 100%;
  @extend %boxShadow;
  transition: 1s $ease;
  opacity: 0;
  pointer-events: none;
  text-transform: capitalize;

  &.show {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
}

.tabSection {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 20px 20px;
}

.menuToggle {
  right: 0;
}

.menu {
  position: absolute;
  top: $nav-bar-height-mobile;
  width: 100%;
  height: calc(100% - #{$nav-bar-height-mobile});
  left: 0;
  box-sizing: border-box;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .menuItem {
    margin-bottom: 20px;
  }

  .menuBottomSection {

  }

  .menuTopSection {

  }

  .header {
    height: 42px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin: 0;
    }

    svg {
      margin-bottom: 0;
      height: 100%;
      box-sizing: border-box;
      margin-left: 10px;
      width: 25px;
      transform: translateY(-2px);
    }

    .lock {
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;
      height: 22px;
      color: $green;

      &.unlocked {
        color: red;

        svg {
          margin-right: -3px;
          margin-left: 13px;
        }
      }
    }
  }

}
