@import '/src/shared/styles';

.main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: relative;
  background: white;
  overflow: hidden;
}

.pageContainer {
  height: calc(100% - #{$nav-bar-height});
  top: $nav-bar-height;
  left: 20px;
  padding: 20px 0;
  width: calc(100% - 40px);
  box-sizing: border-box;
  flex-shrink: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.navBarMobile {

}

