@import '/src/shared/styles';

.textArea {
  box-sizing: border-box;
  width: 100%;

  textarea {
    outline: none;
    resize: none;
    font-family: inherit !important;
    font-size: 18px;
    line-height: 1.5em;
    padding: 0 0 5px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ABABAB;
    overflow: hidden;
    background: transparent;

    &::placeholder {
      color: $gray;
    }

    &:focus {
      border-bottom: 1px solid $black;
    }
  }
}

.multiLine {
  width: 100%;
  box-sizing: border-box;
}

.tip {
  font-size: 12px;
  line-height: 12px;
  color: $lightGray;
  margin-top: 7px;
}

.number {
  text-align: center;
  width: 27px;
  display: inline-block;
}

.notValid {
  color: $red;
}
