body {
  overflow: hidden;
  font-weight: 100;
  font-family: 'sansation', sans-serif;
  color: #9f9f9f;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  outline:none;
}

.root {
  font-weight: 100;
  font-family: 'sansation', sans-serif;
}
