@import 'shared/styles';

@font-face {
  font-family: 'calibre';
  src: url('/src/assets/fonts/calibre/Calibre-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'calibre';
  src: url('/src/assets/fonts/calibre/Calibre-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'calibre';
  src: url('/src/assets/fonts/calibre/Calibre-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'calibre';
  src: url('/src/assets/fonts/calibre/Calibre-Light.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'calibre';
  src: url('/src/assets/fonts/calibre/Calibre-Regular.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'calibre';
  src: url('/src/assets/fonts/calibre/Calibre-Medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'calibre';
  src: url('/src/assets/fonts/calibre/Calibre-Semibold.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'calibre';
  src: url('/src/assets/fonts/calibre/Calibre-Bold.ttf') format('truetype');
  font-weight: 600;
}


body {
  overflow: hidden;
  font-weight: 100;
  font-size: 18px;
  font-family: sofia-pro, sans-serif;
  color: $black;
  position: relative;

  @include media('>phone') {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  outline:none;
}

h1 {
  font-size: 36px;
  line-height: 1.3em;
  font-weight: 300;
  margin: 0;
  font-style: italic;
}

input {
  font-family: 'calibre', sans-serif;
}

.root {
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
  overflow: hidden;
  position: absolute;

  //@include media('>phone') {
  //  //border-radius: 15px;
  //  height: 736px;
  //  width: 414px;
  //}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $blue;
  text-transform: lowercase;
  font-size: 20px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $blue;
  text-transform: lowercase;
  font-size: 20px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $blue;
  text-transform: lowercase;
  font-size: 20px;
}
:-moz-placeholder { /* Firefox 18- */
  color: $blue;
  text-transform: lowercase;
  font-size: 20px;
}

/* width */
::-webkit-scrollbar {
  //width: 13px;
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  //background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  //border-right: 1px solid $gray;
}
