@import '/src/styles';
@import '/src/colors';

.imageUpload {
  width: 100%;
  position: relative;
}

.imagePreviewContainer {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.image {
  width: 100%;
}

.fileInput {
  display: none;
}

.button {
  height: 42px;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.placeholder {
  color: $placeholderColor;
  font-style: italic;
  margin-top: 15px;
}

.hide {
  display: none;
}

.tools {
  height: calc(100% - 20px);
  padding: 0;
  width: 44px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 10px;

  :global {
    .inner {
      padding: 5px;
    }
  }
}

.imageIcon {
  height: 55px !important;
  opacity: 0.5;
  margin: 0 0 15px;
}
